.chatsArea {
	display: flex;
}
/* .characterProfileArea {
	max-width: var(--width-card);
} */
.chatSection {
	flex-grow: 1;
}
/******************MEDIA QUERIES******************/
/* 300-500, 600-900, 900-1100,>1200 */
@media only screen and (max-width: 1080px) {
}
@media only screen and (max-width: 998px) {
	.chatsArea {
		flex-direction: column;
	}
	.chatSection {
		height: 80vh;
	}
}
@media only screen and (max-width: 780px) {
}
@media only screen and (max-width: 590px) {
}
