.chatsArea {
	display: flex;
}
.characterProfileArea {
}
.chatSection {
	flex-grow: 1;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chatSection::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.chatSection {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/******************MEDIA QUERIES******************/
/* 300-500, 600-900, 900-1100,>1200 */
@media only screen and (max-width: 1080px) {
}
@media only screen and (max-width: 998px) {
	.chatsArea {
		flex-direction: column;
	}
	.chatSection {
		height: 85vh;
	}
}
@media only screen and (max-width: 780px) {
}
@media only screen and (max-width: 590px) {
}
