.profileInfoCard {
	background-color: var(--gray-1);
	padding: 1rem 1.5rem;
	border-radius: 8px;
	margin: 1rem 1.5rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 5rem;
}

.sectionHeading {
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
}
.trait {
	padding-block-start: 0.8rem;
	font-size: 1.3rem;
}
.traitInfo {
	display: block;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1.1rem;
}

.about .sectionHeading .icon {
	scale: 1.2;
}
.aboutInfo {
	padding-block-start: 0.8rem;
	font-size: 1.1rem;

	font-weight: 400;
}
