/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: none;
}
:root {
	--black: #0b0b0b;
	--white: #e9e9e9;
	--pink: #d62a5e;
	--gray-1: #252525;
	--gray-2: #929292;
	--width-card: 30vw;
}
#root {
	min-height: 100vh;
	font-family: "Noto Sans", sans-serif;
	background-color: var(--black);
	color: var(--white);
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
	color: var(--white);
}
li {
	list-style: none;
}
/******************MEDIA QUERIES******************/
/* 300-500, 600-900, 900-1100,>1200 */
@media only screen and (max-width: 1080px) {
	:root {
		--width-card: 35vw;
	}
}
@media only screen and (max-width: 998px) {
	:root {
		--width-card: 38vw;
		/* Make it horizontal */
	}
}
@media only screen and (max-width: 780px) {
}
@media only screen and (max-width: 590px) {
	:root {
		--width-card: 100vw;
	}
}
